<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        </head>
        <body>
             <div class="main-content">
                 {{!-- partial header rendering --}}
            {{>header}}

            
            {{!-- <h1>{{title}}</h1>   taking the reference from the app.js by passing title there --}}
            <img src="./img/robot.png" />
            {{!-- <h3>By : {{name}}</h3> --}}
             </div>
             

            {{>footer}}
        </body>
</html>
